PORT=4000
FRONTEND_URL=http://localhost:5173
MONGO_URI=mongodb+srv://<name>:<key>.mongodb.net
JWT_SECRET=some_long_random_secret
JWT_EXPIRES_IN=7d
GMAIL_USER=
GMAIL_APP_PASSWORD=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
